:root{
  --lined-background-pattern: repeating-linear-gradient(
  to bottom,
  #f6f6f6,
  #f6f6f6 3px,
  #e6e6e6 3px,
  #e6e6e6 4px);
}

head {

}

body {
    background-image: url('../assets/wallpaper.jpg');
    font-family: 'Lucida Grande', 'SF Pro Display', sans-serif;


}

p {
    font-size: 12px;
}
/* Menu Bar Styling */
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  height: 24px;
  background: linear-gradient(to bottom, #f6f6f6, #e0e0e0);
  background-image: var(--lined-background-pattern);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 13px;
  color: #333;
  border-bottom: 1px solid #aaa;
  z-index: 999;
}

.menu-left, .menu-right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.menu-app-name {
  font-weight: bold;
  white-space: nowrap;
}

.menu-item {
  cursor: default;
  white-space: nowrap;

}
.menu-item > img {
  height: 14px;
  width: 12px;
}
#current-time {
  min-width: 48px;
  text-align: right;
  white-space: nowrap;
}

/* Apple Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #f2f2f2;
  background-image: var(--lined-background-pattern);
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  font-size: 13px;
  z-index: 1000;
}

.dropdown-item {
  padding: 4px 10px;
  cursor: pointer;
}

#restart, #sleep {
  color: #aaa;
}

#restart:hover, #sleep:hover {
  cursor: not-allowed;
}

#shutdown:hover {
  background: linear-gradient(to bottom, #2d67b7, #649cd4);
  color: #fff;
}

.hidden {
  display: none !important;
}
.menu-item:hover {
  cursor: not-allowed;;
}
#logo:hover{
  cursor: pointer;
}

/* Shutdown Terminal Window */
#shutdown-window {
  background-color: #000000;
}
#shutdown-content {
  font-family: 'Menlo','Courier New', Courier, monospace;
  font-size: 10px;
  color: #cecfd0;
  border: none;
}

#shutdown-content p:last-child::after {
  content: '█';
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}





/* Dock styling */
.dock {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px 15px 0 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  /* Dock icon styling */
  .dock-icon {
    height: 50px;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .dock-icon:hover {
    transform: scale(1.2);
  }

  .dock-icon-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Little tooltip header for each icon */
  .dock-tooltip {
    position: absolute;
    bottom: 100%; /* Show above the icon */
    margin-bottom: 10px;
    background-color: #333333d8;
    color: rgb(201, 199, 199);
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 13px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.2s ease;
  }
  
  .dock-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
  .dock-icon-wrapper:hover .dock-tooltip {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Bounce when Dock icon is in active state */
  @keyframes bounce {
    0%   { transform: scale(1) translateY(0); }
    25%  { transform: scale(1.1) translateY(-10px); }
    50%  { transform: scale(0.95) translateY(0); }
    100% { transform: scale(1) translateY(0); }
  }
  
  .bounce {
    animation: bounce 1.5s ease;
  }

  .active {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000;
  }
  
  /* App window styling */
  .app-window {
      position: fixed;
      top: 40px;
      min-width: 300px;
      min-height: 200px;
      max-width: 90vw;
      max-height: 80vh;
      resize: both;
      background: #f0f0f0;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
      z-index: 100;
      border: 1px solid #ccc;
      overflow: auto; /* 'hidden': prevents scrollbars outside the window */
      display: flex;
      flex-direction: column;
  }
  
  .app-header {
    background: linear-gradient(to bottom, #e3e3e3, #d0d0d0);
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
  }

  .app-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  .grey-text {
    font-size: 12px;
    color: #888;
    font-weight: 400;
    margin-left: 4px;
  }
  
  /* Window: Close, minimize, maximize buttons */
  .buttons {
    position: absolute;
    top: 8px;
    left: 12px;
    display: flex;
    gap: 7px;
  }

  .btn {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.6);
    justify-items: left;
    cursor: pointer;
  }

  /* Individual colors */
  .red {
    background-color: #ff5f56;
    border-color: rgb(205, 38, 38);
  }
  .yellow {
    background-color: #ffbd2e;
    border-color: #b08c16;
  }
  .green {
    background-color: #27c93f;
    border-color: #178322;
  }

  /* hover effect */
  .btn:hover {
    filter: brightness(0.95);
  }

  .app-content {
    padding: 15px;
    font-size: 14px;
    color: #333;
    height: calc(100% - 40px); /* Adjust for header height */
    overflow-y: scroll;
  }
  
  .hidden {
    display: none;
  }
  
  /* Scrollbar styling */
  .app-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .app-content::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .app-content::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }
  

/* Internet Explorer Window Styling*/


#explorer-window {
  max-width: 1000px;
  max-height: 600px;
  z-index: 100;
  top: 100px;
  left:330px;
}
.explorer-toolbar {
  display: flex;
  gap: 6px;
  padding: 6px;
  /* background: linear-gradient(to bottom, #f2f2f2, #ccc); */
  background-image: var(--lined-background-pattern);
  border-bottom: 1px solid #aaa;
  justify-content: center;
}

.explorer-toolbar button {
  background: #e0e0e0;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}

.explorer-address-bar {
  display: flex;
  align-items: center;
  padding: 6px;
  background: #39a4a8;
  background: radial-gradient(#a6f8fa, #23979d);
  border-bottom: 1px solid #aaa;
}

.explorer-address-bar label {
  margin-right: 6px;
  font-size: 12px;
  color: #fff;
}

.explorer-address-bar input {
  flex-grow: 1;
  padding: 4px;
  margin-right: 6px;
  font-size: 12px;
}

.explorer-address-bar button {
  padding: 4px 8px;
  font-size: 12px;
  background: none;
  cursor: pointer;
  color: #fff;
}



.explorer-content {
  padding: 10px;
  font-size: 13px;
  /* background: white; */
  height: calc(100% - 110px); /* Adjust for header + toolbar + address bar */
  overflow-y: auto;
  background: #fcfff0;
  background-image: var(--lined-background-pattern);
}

.webpage-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes canvas left, image right */
  gap: 0px;
  padding: 10px;
}
.webpage-header canvas {
  flex-grow: 1;
  max-width: 100%;
}

.webpage-header img {
  width: 50%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  margin-right: 10px; 
  padding-left: 10px;  
}

.webpage-content p, ul{
  font-family:  Helvetica, Georgia, serif;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
}
.webpage-content h2 {
  font-family: Georgia, serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}




#ascii-art {
  font-family: monospace;
  white-space: pre;
  display: inline-block;
  cursor: none;
}

.ascii-char {
  display: inline-block;
  transition: transform 0.3s ease;
  will-change: transform;
}


/* Startup About Window Styling */
#about-window {
  width: 280px;
  height: 330px;
  background: #f6f6f6;
  border-radius: 12px;
  border: 1px solid #888;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-image: var(--lined-background-pattern);
  overflow: hidden;
  padding-bottom: 15px;
  resize: none;
  z-index: 99;
}
#about-window .btn .green {
  cursor: not-allowed;
  
}
#about-window .app-content .serif{
  font-family: serif;
  font-size: 32px;
}

#about-window .app-header {
  justify-content: center;
  font-size: 13px;
  padding: 4px;
  background: linear-gradient(to bottom, #eeeeee, #cccccc);
  border-bottom: 1px solid #aaa;
}

.about-icon {
  width: 80px;
  margin: 15px auto 10px;
  display: block;
}

#about-window h1 {
  font-size: 14px;
  margin: 5px 0;
  font-weight: normal;
  color: #222;
}

#about-window p {
  font-size: 12px;
  margin: 2px 0;
  color: #333;
}

#about-window small {
  display: block;
  margin-top: 10px;
  font-size: 10px;
  color: #666;
}


/* Sticky Notes Styling */
.sticky-note {
  min-width: unset;
  min-height: unset;
  max-width: unset;
  max-height: unset;
  resize: none;
  width: 180px;
  height: 180px ;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px;
  font-size: 12px;
  color: #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: fixed;
  font-family: 'Helvetica Neue', 'SF Pro Display', sans-serif;
  z-index: 101;
}
.stickies-header {
  padding: 5px;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  text-align: center;
}
.sticky-note .app-content {
  height: calc(100% - 40px);
  overflow-y: auto;
  padding: 5px;
}
#welcome-note {
  background: #fc9bb7;
  top: 400px;
  left: 30px;
  filter: drop-shadow(2px 2px rgb(255, 72, 188))
}
/* #welcome-note .stickies-header {
  background: #b5546e;
} */
#intro-note {
  background: #fef38b;
  top: 520px;
  left: 90px;
  filter: drop-shadow(2px 2px rgb(240, 204, 0));
  z-index: 102;
}
/* #intro-note .stickies-header {
  background: #f8e135;
} */
.sticky-note .app-title {
  display: none;
}

.sticky-buttons {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 12px;
  font-family: monospace;
}

.sticky-note .btn {
  all: unset;
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #64616155;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.sticky-note .btn.close:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border-radius: 4px;
}


/* Desktop Icon Styling */
.desktop-icon-column {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  z-index: 10;
}
.desktop-icon {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: #f6f6f6;
  cursor: default;
  z-index: 10;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.desktop-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  user-select: none;
  pointer-events: none; /* prevent dragging */
}


/* Address Book Styling (contact me) */
#contact-window {
  width: 480px;
  height: 320px;
  resize: none !important;

}
.contact-layout {
  display: flex;
  height: 100%;
  padding: 0;
  font-size: 13px;
}

#contact-window .app-header {
  justify-content: center;
  font-size: 13px;
  padding: 4px;
  background: linear-gradient(to bottom, #eeeeee, #cccccc);
  border-bottom: 1px solid #aaa;
}

.contact-sidebar {
  width: 140px;
  background: #f4f4f4;
  background-image: var(--lined-background-pattern);
  border-right: 1px solid #ccc;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-section-title {
  font-weight: bold;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 4px;
  color: #666;
}

.contact-group,
.contact-name {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-name.selected {
  background-color: #cce0ff;
  font-weight: bold;
}

.contact-detail {
  flex: 1;
  padding: 10px 14px;
  overflow-y: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.contact-name-title {
  font-weight: bold;
  font-size: 16px;
}

.contact-search {
  border: 1px solid #ccc;
  padding: 3px 6px;
  border-radius: 10px;
  font-size: 12px;
  width: 120px;
}

.contact-detail p {
  margin: 5px 0;
  font-size: 11px;
}

.contact-detail p > b {
  color:#9d9d9d ;
}

.contact-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 11px;
  color: #666;
  border-top: 1px solid #ddd;
  padding-top: 5px;
}



/* -------------------------------------------------------------------------------- */
/* coming soon.... */
/* TEMPORARY: App Icon Toggles (until fixed) */
img[alt="photos"] {
  cursor: not-allowed;
}
img[alt="quicktime"] {
  cursor: not-allowed;
}
img[alt="terminal"] {
  cursor: not-allowed;
}
img[alt="photoshop"] {
  cursor: not-allowed;
}
img[alt="trash-full"] {
  cursor: not-allowed;
}