#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #0e5323;
  background-color: #fffffc;
  transition: 0.6s;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* NAV BAR STYLING */
nav {
  display: flex;
  align-items: center;
  background-color: #fffffc;
  height: 50px;
  padding: 30px 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 50px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

nav > h3 {
  margin: 5px;
  font-weight: 700;
  font-size: 30px;
}

nav > a {
  display: flex;
  align-items: right;
  padding-bottom: 5px;
  padding-left: 50px;
  font-size: 15px;
  margin: 5px;
  color: #0e5323;
  font-family: 'helveticanowtext_regularRg';
}

nav > #toggle {
  margin-left: auto;
  font-size: 13px;
}


/* TYPEWRITER EFFECT */
.cursorSize {
  font-size: 63px;
  animation: blink 1s infinite;
}

.typewriter {
  height: 60px;
  padding: 10px;
}

.typewriter-wrapper {
  display: inline-block;
  vertical-align: bottom;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* BODY STYLING */
h1 {
  padding-top: 30px;
  text-align: center;
}

h2 {
  text-align: left;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 20px;
}

p {
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
}

p > a {
  color: #13ac41;
  text-decoration: underline;

}


p > #project-cards {
  text-align: center;
  padding: 0;
}

ul {
  text-align: left;

}

ul > li {
  list-style:circle;
}


.social-links a {
  color: #0e5323;
  margin-right: 10px;
  font-size: 24px;
}

.social-links a:hover {
  color: #13ac41;
  /* font-size: 25px; */
  animation: forwards 0.5s ;
}

.resume-btn {
  margin-left: 50px;
}