:root {
  --lined-background-pattern: repeating-linear-gradient(
    to bottom,
    #f6f6f6,
    #f6f6f6 3px,
    #e6e6e6 3px,
    #e6e6e6 4px
  );
}

@font-face {
  font-family: "Helvetica";
  src: url('/helvetica-255/Helvetica.ttf'); /* ⚠️ fix path for Vite */
}

body {
  background-image: url('/assets/wallpaper.jpg'); /* ✅ use /public */
  font-family: 'Lucida Grande', 'SF Pro Display', sans-serif;
}

p {
  font-size: 12px;
}

/* Utility classes */
.hidden {
  display: none !important;
}

body.dragging,
body.dragging * {
  user-select: none !important;
  cursor: grabbing !important;
}
